{% extends "base.html" %}
{% block content %}
<div class='col-sm-6 col-sm-offset-3'>
    <h1>{{user_data.username}}</h1>
    <h1>{{user_data.email}}</h1>
    {% if draft %}
    <div>
        <h1>Draft Posts</h1>
        {% include "posts/post_card.html" with object_list=draft%}
        <hr>
        <br>
    </div>
    {% endif %}
    {% if publish %}
    <div>
        <h1>Publish Posts</h1>
        {% include "posts/post_card.html" with object_list=publish%}
    </div>
    {% endif %}

    <div class="pagination">
        <span class="step-links">
            {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
            </span>
            {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock content %}