{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
  <form method="POST">
    {% csrf_token %} {{ form|crispy }}
    <input type="submit" class="btn btn-primary" value="Checkout." />
    {% for error in form.non_field_errors %} {{error}} {% endfor %}
  </form>
  <div class="row mt-3">
    {% for line in lines %}
    <div class="col-12">
      <div>{% include "checkout/checkout_line_card.html" with line=line%}</div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
