.pagination {
  display: flex;
  justify-content: center !important;
}

.carousel-image{
    max-height: 500px;
}

.invoice{
  display: flex;
  justify-content: center;
  align-items: center;
}

.invoice a:first-child{
  margin-right: 5px;
}
