* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  text-align: center;
}

a {
  text-decoration: none;
}
p {
  font-size: 1.2em;
}
img {
  width: 100%;
}
.clear {
  clear: both;
}

.right {
  float: right;
}

.left {
  float: left;
}
