{% url 'accounts:login' as login_url %}
{% url 'accounts:logout' as logout_url %}
{% url 'accounts:register' as register_url %}
{% url 'accounts:profile' as user_profile %}
{% url 'product:product-list' as products %}
{% url 'order:order-list' as orders %}

<header class="site-header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Home</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-item nav-link" href="{{ user_profile }}">Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="{{ logout_url }}">Logout</a>
          </li>
          {% if request.user.checkout_url %}
          <li class="nav-item">
            <a class="nav-item nav-link" href="{{ request.user.checkout_url }}">Cart ({{ request.user.total_checkout_line  }})</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-item nav-link" href="{{ orders }}">Order</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-item nav-link" href="{{ login_url }}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="{{ register_url }}">Register</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-item nav-link" href="{{ products }}">Products</a>
          </li>
        </ul>
        <form method="GET" action="/product/" class="d-flex">
          <input
            name="q"
            value="{{ request.GET.q }}"
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>
